<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2 th:if="${userInfo != null}">Welcome, <span th:text="${userInfo.name}"></span>!</h2>
        <h2 th:unless="${userInfo != null}">Welcome, Guest!</h2>
    </div>
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="logoutAndRedirect()"
                    type="button">로그아웃
            </button>
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/board}'|"
                    type="button">글 등록
            </button>
            <button class="btn btn-primary float-end"
                    onclick="location.href='signup.html'"
                    th:onclick="|location.href='@{/member}'|"
                    type="button">회원가입
            </button>
            <button class="btn btn-primary float-end"
                    onclick="location.href='login2.html'"
                    th:onclick="|location.href='@{/member/login}'|"
                    type="button">로그인
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td>
                    <a th:href="@{'/board/' + ${board.id}}"
                       th:onclick="|redirectToBoard(event, ${board.id})|">
                        <span th:text="${board.title}">제목</span>
                    </a>
                </td>
                <td th:text="${board.name}">작성자</td>
                <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}">등록일</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            addTokenToHeaders();
        });

        function addTokenToHeaders() {
            var accessToken = localStorage.getItem("accessToken");

            if (accessToken) {
                var headers = new Headers({
                    "Authorization": "Bearer " + accessToken
                });

                fetch("/board/main/1", {
                    method: "GET",
                    headers: headers
                })
                .then(response => response.text())
                .then(html => {
                    document.body.innerHTML = html;
                })
                .catch(error => {
                    console.error(error);
                });
            } else {
                fetch("/board/main/1")
                .then(response => response.text())
                .then(html => {
                    document.body.innerHTML = html;
                })
                .catch(error => {
                    console.error(error);
                });
            }
        }

        function logoutAndRedirect() {
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            alert("로그아웃 되었습니다.");
            location.reload();
        }

        function redirectToBoard(event, boardId) {
            event.preventDefault();

            var accessToken = localStorage.getItem("accessToken");
            console.log(accessToken);

            var headers = new Headers({
                "Authorization": "Bearer " + accessToken
            });

            fetch("/board/" + boardId, {
                method: "GET",
                headers: headers
            })
            .then(response => response.text())
            .then(html => {
                document.write(html);
            })
            .catch(error => {
                console.error(error);
            });
        }

    </script>
</div> <!-- /container -->

</body>
</html>